<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AutoBan</title>

    <link href="/i/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"> <!-- Bootstrap Core CSS -->
    <link href="/i/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet"> <!-- MetisMenu CSS -->
<!--     <link href="/i/dist/css/timeline.css" rel="stylesheet"> --> <!-- Timeline CSS -->
    <link href="/i/dist/css/sb-admin-2.css" rel="stylesheet"> <!-- Custom CSS -->
    <link href="/i/bower_components/morrisjs/morris.css" rel="stylesheet"> <!-- Morris Charts CSS -->
    <link href="/i/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"> <!-- Custom Fonts -->


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->



</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.php">AutoBan</a>
            </div>

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="logout.php"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <!-- меню слева -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li><a href="main.php"><i class="fa fa-bar-chart-o fa-fw"></i> главная</a></li>
<!--                         <li><a href="bydisks.php"><i class="fa fa-tasks fa-fw"></i> все диски (HDD/SDD)</a></li>
                        <li><a href="statistics.php"><i class="fa fa-bar-chart-o fa-fw"></i> статистика</a></li> -->
                    </ul>
                </div>
            </div>
        </nav>



        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">Заблокированные ip: <?=$doc_sitename?></h2>
                </div>
            </div>


<!-- тело, основное содержание  -->
            <div class="row">
                <div class="col-lg-9">
                    <!-- подключенные сайты -->
                    <div class="panel panel-default">
                        <div class="panel-heading"></div>
                        <div class="panel-body">
                            <!-- список сайтов -->
                            <div class="panel-group" id="accordion"><?=$doc_sites?></div>

                            <!-- кнопка добавить -->
							<a data-toggle="modal" data-target="#myAdd" class="btn btn-success">Добавить</a>
							<!-- AddIP -->
							<div class="modal fade" id="myAdd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<form role="form" action="?action=addip&uid=<?=e($_GET['uid'])?>" method="post">
											<fieldset>
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
													<h4 class="modal-title" id="myModalLabel">Добавить ip адрес</h4>
												</div>
												<div class="modal-body">
													<div class="form-group">
														<label>Введите ip адрес в формате: xxx.xxx.xxx.xxx</label>
														<p>Допускается использование группы адресов, т.е. 192.168.1.255</p>
														<input class="form-control" placeholder="192.168.1.1" name="ipv4">
													</div>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
													<!-- <a href="?action=add&uid=<?=$doc_var_uid?>" type="button" class="btn btn-success">Добавить</a> -->
													<button type="submit" class="btn btn-success" id="btnsave" disabled>Добавить</button>
												</div> 
											</fieldset>
										</form>
									</div>
									<!-- /.modal-content -->
								</div>
								<!-- /.modal-dialog -->
							</div>
							<!-- /.modal -->
				
                        </div>
                    </div>
                </div>



            <div class="row">
                <div class="col-lg-12"><!-- <small>footer</small> --></div>
            </div>
        </div>
    </div>


    <script src="/i/bower_components/jquery/dist/jquery.min.js"></script> <!-- jQuery -->
    <script src="/i/bower_components/bootstrap/dist/js/bootstrap.min.js"></script> <!-- Bootstrap Core JavaScript -->
    <script src="/i/bower_components/metisMenu/dist/metisMenu.min.js"></script> <!-- Metis Menu Plugin JavaScript -->

    <!-- Morris Charts JavaScript -->
    <!-- <script src="/i/bower_components/raphael/raphael-min.js"></script> -->
    <!-- <script src="/i/bower_components/morrisjs/morris.min.js"></script> -->

    <script src="/i/dist/js/sb-admin-2.js"></script> <!-- Custom Theme JavaScript -->

	<script>
        // данные для графиков
        <!-- =$doc_stat_summ?>
        <!-- =$doc_stat_size?>

var pattern = /\b(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\b/;
x = 46;
$('input[name="ipv4"]').keypress(function (e) {
    if (e.which != 8 && e.which != 0 && e.which != x && (e.which < 48 || e.which > 57)) {
        console.log(e.which);
        return false;
    }
}).keyup(function () {
    var this1 = $(this);
    if (!pattern.test(this1.val())) {
		$('.form-group').addClass("has-error");
        $('#btnsave').attr('disabled', 'disabled');
        while (this1.val().indexOf("..") !== -1) {
            this1.val(this1.val().replace('..', '.'));
        }
        x = 46;
    } else {
        x = 0;
        var lastChar = this1.val().substr(this1.val().length - 1);
        if (lastChar == '.') {
            this1.val(this1.val().slice(0, -1));
        }
        var ip = this1.val().split('.');
        if (ip.length == 4) {
			$('.form-group').removeClass("has-error");
			$('#btnsave').removeAttr('disabled');
        }
    }
});	</script>
</body>
</html>
