<div class="panel <?=$doc_inc_sensor_attention?>">   <!-- panel-warning  panel-danger -->
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="" href="#collapse<?=$doc_inc_sensor_type?>"><strong>
<?php switch ($doc_inc_sensor_type):?>
<?php case "0": ?>
    Ошибка передачи данных (UDMA_CRC_Error_Count)
<?php break; ?>
<?php case "1": ?>
    Сектора-кандидаты на переназначение (Current Pending Sector Count)
<?php break; ?>
<?php case "2": ?>
    Количество часов работы (Power_On_Hours)
<?php break; ?>
<?php case "3": ?>
    Переназначенные сектора (Reallocated Sector Count)
<?php break; ?>
<?php case "4": ?>
    Количество включений диска (Number of Spin-Up Times)
<?php break; ?>
<?php case "6": ?>
    Количество нескорректированных ошибок (Offline Uncorrectable Sector Count)
<?php break; ?>
<?php endswitch; ?>
            </strong></a>
        </h4>
    </div>
    <div id="collapse<?=$doc_inc_sensor_type?>" class="panel-collapse collapse">
        <div class="panel-body">
            <p class="lead">
                <strong>Текущее значение: <?=number_format($doc_inc_sensor_value, 0, ',', ' ')?></strong>
                <br>Пороговое значение: <?=number_format($doc_inc_sensor_value_max, 0, ',', ' ')?>
            </p>
            <p><small>
<?php switch ($doc_inc_sensor_type):?>
<?php case "0": ?>
Число ошибок, возникающих при передаче данных. Это свидетельствует о плохом (мятом, перекрученном) кабеле и плохих контактах. Также подобные ошибки появляются при разгоне шины PCI, сбоях питания, сильных электромагнитных наводках. Возможно причина в некачественном шлейфе. Для исправления попробуйте использовать SATA шлейф без защёлок, имеющий плотное соединение с контактами диска.
<?php break; ?>
<?php case "1": ?>
Число нестабильных секторов на диске, являющихся кандидатами на замену. Они не были еще определены как плохие, но считывание с них происходит с затруднениями (например, не с первого раза). Если «подозрительный» сектор будет в дальнейшем считываться успешно, то он исключается из числа кандидатов. В случае же повторных ошибочных чтений накопитель попытается восстановить его.
<?php break; ?>
<?php case "2": ?>
Время в часах, которое было проведено диском во включенном состоянии. Отражает возраст диск и общий его износ.
<?php break; ?>
<?php case "3": ?>
Число операций переназначения секторов. Когда диск обнаруживает ошибку чтения/записи, он помечает сектор переназначенным и переносит данные в резервную область. Чем оно больше, тем хуже состояние поверхности диска.
<?php break; ?>
<?php case "4": ?>
Количество включений диска. Отражает возраст диск и общий его износ.
<?php break; ?>
<?php case "6": ?>
    Количество нескорректированных ошибок (Offline Uncorrectable Sector Count)
<?php break; ?>
<?php endswitch; ?>
            </small></p>
        </div>
    </div>
</div>
