<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AutoBan</title>

    <link href="/i/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">	<!-- Bootstrap Core CSS -->
    <link href="/i/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">	<!-- MetisMenu CSS -->
    <link href="/i/dist/css/sb-admin-2.css" rel="stylesheet">	<!-- Custom CSS -->
    <link href="/i/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">	<!-- Custom Fonts -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<div id="wrapper">
	<!-- Navigation -->
	<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">AutoBan</a>
		</div>

<?php if ($doc_action != ""): ?>
		<ul class="nav navbar-top-links navbar-right ">
			<li><a href="?">Войти</a></li>
		</ul>
<?php endif; ?>

	</nav>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
						<?=$panel_title?>
                        <!-- <h3 class="panel-title">Введите имя и пароль</h3> -->
                    </div>
                    <div class="panel-body">

<?php switch ($doc_action): default: case "login": ?>
						<form role="form" action="?action=login" method="post">
							<fieldset>
								<div class="form-group <?=$panel_body_email_haserror?>">
									<input class="form-control" placeholder="E-mail" name="email" type="email" autofocus value="<?=$panel_body_email_value?>" <?=$panel_body_email?>>
								</div>
								<div class="form-group <?=$panel_body_password_haserror?>">
									<input class="form-control" placeholder="Пароль" name="password" type="password" value="" <?=$panel_body_password?>>
								</div>
								<br>
                                <button type="submit" class="btn btn-success btn-block">Войти</button>
							</fieldset>
						</form>
<?php break; ?>

<?php case "restore": ?>
						<form role="form" action="?action=restore_send_confirmation" method="post">
							<fieldset>
								<div class="form-group">
									<input class="form-control" placeholder="E-mail" name="email" type="email" autofocus>
								</div>
								<br>
								<button type="submit" class="btn btn-success btn-block">Далее</button>
							</fieldset>
						</form>
<?php break; ?>

<?php case "registration": case "check_registration": ?>
						<form role="form" action="?action=check_registration" method="post">
							<fieldset>
							<div class="form-group <?=$panel_body_email_haserror?>">
								<!-- <label>Text Input with Placeholder</label> -->
								<input class="form-control" placeholder="E-mail" name="email" type="email" <?php if ($doc_action == "registration"): ?>autofocus<?php endif; ?> <?=$panel_body_email?>>
							</div>

							<div class="form-group <?=$panel_body_password_haserror?>">
								<input class="form-control" placeholder="Пароль" name="password" type="password" <?=$panel_body_password?>>
							</div>

							<div class="form-group <?=$panel_body_password2_haserror?>">
								<input class="form-control" placeholder="Пароль еще раз" name="password2" type="password" <?=$panel_body_password2?>>
							</div>
							<button type="submit" class="btn btn-success btn-block">Далее</button>
							</fieldset>
						</form>
<?php break; ?>

<?php case "restore_change_password": case "restore_change_password_set": ?>
						<form role="form" action="?action=restore_change_password_set&authkey=<?php echo $authkey; ?>" method="post">
							<fieldset>
							<div class="form-group <?=$panel_body_password_haserror?>">
								<input class="form-control" placeholder="Пароль" name="password" type="password" <?=$panel_body_password?>>
							</div>

							<div class="form-group <?=$panel_body_password2_haserror?>">
								<input class="form-control" placeholder="Пароль еще раз" name="password2" type="password" <?=$panel_body_password2?>>
							</div>
							<button type="submit" class="btn btn-success btn-block">Далее</button>
							</fieldset>
						</form>
<?php break; ?>


<?php case "send_confirmation": ?><p class="text-center">Учетная запись создана. Для ее активации перейдите по ссылке, которая отправлена на указанный вами адрес электронной почты.</p><?php break; ?>
<?php case "restore_confirmation_sent": ?><p class="text-center">Для ввода нового пароля перейдите по ссылке, которая отправлена на указанный при регистрации адрес электронной почты.</p><?php break; ?>
<?php case "user_activation_ok": ?><p class="text-center">Учетная запись активирована.</p><br><a href="index.php" class="btn btn-success btn-block">Далее</a><?php break; ?>
<?php case "user_activation_bad": ?><p class="text-center">Срок действия ссылки истек. Пройдите процедуру регистрации заново.</p><br><a href="index.php?action=registration" class="btn btn-success btn-block">Далее</a><?php break; ?>
<?php case "user_restore_bad": ?><p class="text-center">Срок действия ссылки истек. Пройдите процедуру восстановления пароля заново.</p><br><a href="index.php?action=restore" class="btn btn-success btn-block">Далее</a><?php break; ?>
<?php case "user_restore_ok": ?><p class="text-center">Пароль учетной записи изменен.</p><br><a href="index.php" class="btn btn-success btn-block">Далее</a><?php break; ?>


<?php endswitch; ?>

                    </div>
				</div>

                <?php if (isset($panel_desc)): ?><?=$panel_desc?><?php endif; ?>

<?php if ($doc_action == "" || $doc_action == "login"): ?>
				<p class="text-center"><a href="index.php?action=registration">Регистрация</a></p>
				<p class="text-center"><a href="index.php?action=restore">Восстановить пароль</a></p>
<?php endif; ?>

            </div>
        </div>
    </div>
</div>


<script src="/i/bower_components/jquery/dist/jquery.min.js"></script>    <!-- jQuery -->
<script src="/i/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>    <!-- Bootstrap Core JavaScript -->
<script src="/i/bower_components/metisMenu/dist/metisMenu.min.js"></script>	<!-- Metis Menu Plugin JavaScript -->
<script src="/i/dist/js/sb-admin-2.js"></script>    <!-- Custom Theme JavaScript -->
</body>
</html>
