<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AutoBan</title>

    <link href="/i/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"> <!-- Bootstrap Core CSS -->
    <link href="/i/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet"> <!-- MetisMenu CSS -->
<!--     <link href="/i/dist/css/timeline.css" rel="stylesheet"> --> <!-- Timeline CSS -->
    <link href="/i/dist/css/sb-admin-2.css" rel="stylesheet"> <!-- Custom CSS -->
    <link href="/i/bower_components/morrisjs/morris.css" rel="stylesheet"> <!-- Morris Charts CSS -->
    <link href="/i/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"> <!-- Custom Fonts -->


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->



</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.php">AutoBan</a>
            </div>

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="logout.php"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <!-- меню слева -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li><a href="main.php"><i class="fa fa-bar-chart-o fa-fw"></i> главная</a></li>
<!--                         <li><a href="bydisks.php"><i class="fa fa-tasks fa-fw"></i> все диски (HDD/SDD)</a></li>
                        <li><a href="statistics.php"><i class="fa fa-bar-chart-o fa-fw"></i> статистика</a></li> -->
                    </ul>
                </div>
            </div>
        </nav>



        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header"><?=$panel_title?></h2>
                </div>
            </div>


<!-- тело, основное содержание  -->
            <div class="row">
                <div class="col-lg-9">
                    <!-- подключенные сайты -->
                    <div class="panel panel-default">
                        <div class="panel-heading"></div>
                        <div class="panel-body">
                            <!-- список сайтов -->
                            <div class="panel-group" id="accordion">

<?php switch ($doc_action): default: case "addsite": ?>
                                <form role="form" action="?action=addsite" method="post">
                                    <fieldset>
                                        <div class="form-group">
                                            <label>Название сайта</label>
                                            <input class="form-control" placeholder="название сайта" name="name">
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="active" <?=$panel_form_checkbox?>>Активный
                                            </label>
                                        </div>
                                        <button type="submit" class="btn btn-success">Добавить</button>
                                        <a href="main.php" class="btn btn-default">Вернуться</a>
                                    </fieldset>
                                </form>
<?php break; ?>
<?php case "change": ?>
                                <form role="form" action="?action=update" method="post">
                                    <fieldset>
                                        <div class="form-group">
                                            <label>Название сайта</label>
                                            <input class="form-control" placeholder="название сайта" name="name" value="<?=$panel_form_name?>">
                                        </div>
                                        <div class="form-group">
                                            <label>UID</label>
                                            <p class="form-control-static"><?=$panel_form_uid?></p>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="active" <?=$panel_form_checkbox?>>Активный
                                            </label>
                                        </div>
                                        <input type="hidden" name="uid" value="<?=$panel_form_uid?>">
                                        <button type="submit" class="btn btn-success">Сохранить</button>
                                        <a href="main.php" class="btn btn-default">Отменить</a>
                                        <a href="site.php?action=delete&uid=<?=$panel_form_uid?>&step=ask" class="btn btn-danger">Удалить</a>
                                    </fieldset>
                                </form>
<?php break; ?>
<?php case "delete": ?>
                                <p class="lead">Вы точно хотите удалить следующий сайт?</p>
                                <form role="form" action="?action=delete&step=confirmed" method="post">
                                    <fieldset>
                                        <div class="form-group">
                                            <label>Название сайта</label>
                                            <p class="form-control-static"><?=$panel_form_name?></p>
                                        </div>
                                        <div class="form-group">
                                            <label>UID</label>
                                            <p class="form-control-static"><?=$panel_form_uid?></p>
                                        </div>
                                        <input type="hidden" name="uid" value="<?=$panel_form_uid?>">
                                        <button type="submit" class="btn btn-danger">Удалить</button>
                                        <a href="site.php?action=change&uid=<?=$panel_form_uid?>" class="btn btn-success">Отменить</a>
                                    </fieldset>
                                </form>
<?php break; ?>

<?php endswitch; ?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12"><!-- <small>footer</small> --></div>
            </div>
        </div>
    </div>


    <script src="/i/bower_components/jquery/dist/jquery.min.js"></script> <!-- jQuery -->
    <script src="/i/bower_components/bootstrap/dist/js/bootstrap.min.js"></script> <!-- Bootstrap Core JavaScript -->
    <script src="/i/bower_components/metisMenu/dist/metisMenu.min.js"></script> <!-- Metis Menu Plugin JavaScript -->

    <script src="/i/dist/js/sb-admin-2.js"></script> <!-- Custom Theme JavaScript -->

</body>
</html>
